.quantity-btn-group {
  display: flex;
  min-width: 108px;
  height: 42px;
  border-radius: 2px;
  border: 2px var(--white-four) solid;
  margin: 8px 16px;

  .quantity-btn-item {
    cursor: pointer;
    outline: none;
    border: none;
  }

  .quantity-btn {
    flex: 1;
    display: flex;
    background-color: var(--white);

    span {
      margin: auto;
      font-weight: 700;
      font-size: 16px;
    }

    input {
      max-width: 42px;
      border: none;
      text-align: center;
      outline: none;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
