.detail-product-page {
  .content {
    margin-bottom: 24px;
  }

  .img-list {
    width: 100%;
    margin: 6px 0;
  }

  .info {
    padding: 0 60px;

    .title {
      font-weight: 700;
    }

    .price {
      color: var(--dark-grey);
    }

    .review {
      font-weight: 500;
      padding: 4px 12px;
      border-left: 1px var(--greyish-two) solid;
    }

    .size {
      button {
        margin: 4px 8px;
        margin-left: 0;
        width: 48px;
        height: 48px;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 2px;
        border: 2px solid var(--greyish-two);

        &.active {
          border-color: var(--pumpkin-orange);
          background-color: var(--pumpkin-orange);
          color: var(--white);
        }

        &:disabled {
          border-color: var(--greyish-two);
          color: var(--greyish-two);
          cursor: not-allowed;
        }
      }
    }

    .color {
      button {
        width: 30px;
        height: 30px;
        margin: 6px;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        border: 5px black solid;
      }
    }

    h1 {
      margin-bottom: 0;
      margin: auto 0;
    }

    .quantity {
      display: flex;
    }
  }

  .cart-btn {
    font-weight: 600;
    background-color: var(--cornflower);
    border: none;

    &:disabled {
      background-color: var(--white-four);

      &:hover {
        background-color: var(--white-four);
      }
    }
  }

  .ant-divider {
    border-color: var(--brown-grey);

    .ant-divider-inner-text {
      font-weight: 600;
    }
  }

  .review {
    .name-container {
      padding: 0 24px;
    }
  }

  .also-title {
    color: var(--greyish-brown);
  }
}
