.comment-container {
	padding: 18px 30px;
	width: 100%;
	background-color: var(--white-two);
	border-radius: 4px;
	margin-bottom: 16px;

	input,
	textarea {
		margin-bottom: 12px;
		font-size: 16px;
		padding: 4px 12px;

		&:focus {
			border-color: var(--bright-orange);
			box-shadow: none;
		}

		&:hover {
			border-color: var(--bright-orange);
		}
	}

	.summit-container {
		display: flex;
		justify-content: space-between;

		.rating {
			.ant-rate-star-zero {
				svg {
					color: #999;
				}
			}
		}

		.submit {
			font-weight: 600;
			padding: 8px 48px;
			border: none;
			outline: none;
			background-color: var(--pumpkin-orange);
			color: var(--white);
			cursor: pointer;

			&:disabled {
				background-color: var(--white-four);
				cursor: not-allowed;
			}
		}
	}

	h3 {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;
		margin-top: 12px;
		font-weight: 500;
	}
}

.name-container {
	h3 {
		margin-bottom: 0;
		font-weight: 600;
	}

	p {
		font-size: 14px;
		font-weight: 500;
		color: var(--greyish);
		margin-bottom: 0;
	}

	button {
		padding: 0;
		font-weight: 500;
	}
}
