.card {
  width: 100%;

  .img-container {
    width: 100%;
    position: relative;
    // overflow-y: hidden;
    // overflow-x: visible;

    img {
      width: 100%;
    }

    .sold-out {
      position: absolute;
      bottom: 12px;
      left: -12px;
      background-color: var(--charcoal-grey);
      color: var(--white);
      font-weight: 600;
      font-size: 16px;
      padding: 4px 6px;
    }

    &:hover .quick-shop {
      display: block;
    }

    .quick-shop {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: none;

      button {
        width: 100%;
        height: 54px;
        outline: none;
        border: none;
        background-color: var(--bright-orange);
        color: var(--white);
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  .card-title {
    font-weight: 600;
    margin: 8px 0;
  }

  .price {
    font-weight: 600;
    color: var(--brown-grey);
    position: absolute;
    bottom: 0;
  }
}
