.mainpage {
  padding: 36px 0;
  img {
    width: 100%;
  }

  .card {
    .card-container {
      position: relative;
    }

    .description {
      position: absolute;
      bottom: 0;
      padding: 24px;
      width: 100%;
      text-align: center;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.363) 50%,
        rgba(0, 0, 0, 0) 100%
      );

      .title {
        border-bottom: 1px solid var(--white);
        padding-bottom: 6px;
        margin-bottom: 16px;
        color: var(--white);
        font-weight: bold;
        font-size: 24px;
      }

      .primary-button {
        padding: 8px 26px;
        font-weight: 600;
        background-color: var(--pumpkin-orange);
        outline: none;
        border: none;
        color: var(--white);
        cursor: pointer;
      }
    }
  }
}
