.cart-page {
  min-height: 100vh;
  .ant-table-thead tr th {
    font-weight: 700;
    &:not(:first-child) {
      text-align: center;
    }
  }

  .ant-table-tbody tr td {
    &:not(:first-child) {
      text-align: center;
    }
  }

  .product-cell {
    display: flex;
    max-width: 360px;

    .img-container {
      width: 90px;

      img {
        width: 100%;
      }
    }

    .info {
      flex: 1;
      padding: 0 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .name {
        font-weight: 600;

        &:hover {
          color: var(--bright-orange);
        }
      }

      button {
        padding: 0;
        margin: 0;
        margin-right: 12px;
        font-weight: 600;
        color: var(--greyish);
      }
    }
  }

  .total {
    padding: 14px 16px;

    .title {
      font-weight: 700;
    }

    .total-box {
      padding: 30px;
      background-color: var(--white-five);
    }

    .total-box-item {
      display: flex;
      justify-content: space-between;
      margin: 4px 0;

      span {
        font-weight: 600;
        font-size: 14px;
        color: var(--charcoal-grey);
      }

      &:last-child {
        margin-top: 16px;
        padding-top: 6px;
        border-top: 3px solid var(--greyish);

        span {
          font-weight: 700;
          font-size: 16px;
        }
      }
    }

    .check-out-btn {
      font-weight: 600;
      height: 50px;
      margin-top: 12px;
    }
  }
}
