.main-header {
  background-color: var(--white);

  .top {
    padding: 12px;
    display: flex;
    justify-content: space-between;

    a {
      margin: auto;
    }

    .ant-input-affix-wrapper {
      max-width: 180px;
      border-radius: 30px;
      border: 3px solid var(--greyish-two);

      input::placeholder {
        font-weight: 500;
      }

      svg {
        color: var(--greyish);
      }
    }

    .btn-group {
      margin: auto 0;
      min-width: 180px;
      text-align: right;

      button {
        background: transparent;
        padding: 6px 30px;
        outline: none;
        cursor: pointer;
        font-weight: 600;
        border-radius: 18px;
        border: none;
        height: 36px;
      }

      .register-btn {
        color: var(--greyish);
      }

      .login-btn {
        border: 2px solid var(--pumpkin-orange);
        color: var(--pumpkin-orange);
      }

      .cart-btn {
        padding: 6px;

        .ant-badge-count {
          background-color: var(--bright-orange);
        }
      }
    }
  }

  .navbar {
    height: 45px;
    border-top: 1px #ececec solid;
    border-bottom: 1px #ececec solid;
    display: flex;
    justify-content: center;
    position: relative;

    nav {
      margin: auto;

      button {
        margin: 0 6px;
        font-weight: 600;
        color: var(--dark-grey);
      }
    }

    .list {
      position: absolute;
      box-shadow: 0 2px 4px 0 var(--black-8);
      border: solid 0.5px var(--white-six);
      background-color: var(--white-five);
      bottom: -50px;
      display: none;
      z-index: 100;

      ul {
        list-style: none;
        padding: 0 12px;
        margin: 0;

        li {
          display: inline-block;
          padding: 16px;

          a {
            color: var(--greyish-brown);
            font-weight: 500;

            &:hover {
              color: var(--bright-orange);
            }
          }
        }
      }
    }
    &:hover .list {
      display: block;
    }
  }
}

.modal-auth {
  .orange-btn {
    font-weight: 600;
    color: var(--bright-orange);
    text-decoration: underline var(--bright-orange);
    cursor: pointer;
    text-underline-offset: 3px;
  }

  .ant-modal-body {
    padding: 40px 80px;

    form {
      h2 {
        text-align: center;
        font-weight: 700;
      }

      .feedback {
        text-align: center;
        min-height: 24px;

        span {
          font-size: 16px;
          font-weight: 500;
        }
      }

      label {
        font-weight: 700;
      }

      input {
        background-color: var(--white-two);
        border: none;
        padding: 12px 24px;

        &:focus {
          box-shadow: 0 0 0 2px var(--bright-orange);
        }

        &::placeholder {
          font-weight: 500;
        }
      }

      .discuss {
        padding: 12px;
        padding-bottom: 24px;
        text-align: center;

        p {
          font-weight: 500;
        }
      }

      .forgot {
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        padding: 12px 0;

        .forgot-btn {
          color: var(--greyish-brown);
          font-weight: 700;
        }

        label {
          font-weight: 500;
        }
      }

      .submit-button {
        width: 100%;
        padding: 12px;
        border-radius: 2px;
        border: none;
        font-weight: bolder;
        font-size: 16px;
        color: white;
        cursor: pointer;
        background-color: var(--bright-orange);
        outline: none;
        transition: all 0.2s ease-in;
        height: 50px;

        &:disabled {
          background-color: var(--white-four);
          color: white;
          cursor: not-allowed;
        }

        &:not(:disabled) {
          animation: available 0.3s linear;
        }
      }
    }
  }

  .ant-modal-footer {
    text-align: center;

    p {
      font-weight: 600;
    }
  }
}

.cart-menu {
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  border: solid 0.5px var(--white-six);
  background-color: var(--white-five);
  border-radius: 4px;

  ul {
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      width: 300px;
      padding: 12px;
      border-bottom: 1px solid var(--white-three);

      &.last-item {
        display: block;
        text-align: center;

        button {
          font-weight: 600;
          color: var(--bright-orange);
        }
      }

      .img-container {
        width: 60px;

        img {
          width: 100%;
        }
      }

      .info {
        flex: 1;
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .detail-info {
          display: flex;
          justify-content: space-between;

          span {
            font-weight: 600;
            color: var(--greyish-brown);

            &:last-child {
              color: var(--greyish);
            }
          }
        }
      }
    }
  }
}

.cart-menu-search {
  ul li {
    display: flex;
    text-align: left;
  }
}

@keyframes available {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
