.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;

  &:after {
    content: '';
    position: absolute;
    display: none;
  }
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--bright-orange);

  &:after {
    display: block;
  }
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-reverse {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  cursor: pointer;

  .label {
    font-weight: 600;
    color: var(--greyish-brown);
  }

  .holder {
    margin: 3px;
    width: 18px;
    height: 18px;
    border: 1px var(--greyish) solid;
    border-radius: 2px;
  }

  img {
    display: none;
  }

  &.active {
    .label {
      color: var(--pumpkin-orange);
    }

    .holder {
      display: none;
    }

    img {
      display: block;
    }
  }
}
