@import 'antd/dist/antd.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

.app {
  width: 100%;
  // background-color: var(--greyish);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
