.products-page {
	padding-top: 48px;

	.title {
		padding: 18px;
		margin-bottom: 0;
		text-align: center;
	}

	.sidebar {
		h2 {
			font-weight: 700;
		}

		.category {
			position: relative;
			margin-bottom: 40px;
			list-style: none;
			margin: 0;
			padding: 0 0 40px 0;

			&::after {
				content: '';
				width: 100px;
				border: 1px var(--greyish) solid;
				position: absolute;
				bottom: 0;
				left: 0;
			}

			.category-btn {
				color: var(--greyish-brown);
				font-weight: 600;
				padding: 18px 0;

				&:hover,
				&.active {
					color: var(--pumpkin-orange);
				}
			}

			li {
				&:first-child {
					position: relative;

					&::after {
						content: '';
						width: 20px;
						border: 1px var(--greyish) solid;
						position: absolute;
						bottom: -10px;
						left: 0;
					}
				}
			}
		}

		.collapse {
			border: none;
			background-color: transparent;

			.ant-collapse-header {
				font-weight: 600;
				padding-left: 0;
			}

			.ant-collapse-content {
				border: none;
				background-color: transparent;
				border-top: 2px dashed var(--pinkish-grey);
				padding-bottom: 12px;
			}

			.ant-collapse-content-box {
				padding: 16px 0;
			}

			.size {
				button {
					margin: 4px 8px;
					margin-left: 0;
					width: 48px;
					height: 48px;
					outline: none;
					cursor: pointer;
					font-weight: 600;
					border-radius: 2px;
					border: 2px solid var(--greyish-two);

					&.active {
						border-color: var(--pumpkin-orange);
						background-color: var(--pumpkin-orange);
						color: var(--white);
					}
				}
			}

			.color {
				button {
					width: 30px;
					height: 30px;
					margin: 6px;
					border-radius: 50%;
					outline: none;
					cursor: pointer;
					border: 5px black solid;
				}
			}

			.price {
				.ant-slider {
					width: 85%;

					.ant-slider-track,
					.ant-slider-handle {
						background-color: var(--pumpkin-orange);
						border-color: var(--pumpkin-orange);
					}

					.ant-slider-handle {
						box-shadow: none;
						width: 20px;
						height: 20px;
						margin-top: -8px;
					}
				}
			}
		}
	}
}
